
/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* COMMON */
.container {
    width: 70%;
    margin: auto;
}

.col-container-bgwhite {
    background-color: white;
}

.col-container-bggrey {
    background-color: #d3d3d3;
}

.font-white {
    color: white;
}
.font-blue {
    color: #7289da;
}

h2 {
    font-size: 45px;
    padding: 25px 50px 35px;
}

.subtitle-padding-size {
    padding:0px 50px;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    color: white;
}


.header-top-bg {
    background-color:#255ee9 ; 
    height:100px;   
}

.header-top {
    display:flex;
    background-color:#255ee9 ;
}

.header-logo,
nav,
.login {
    padding: 10px;
}

/* Logo */
.header-logo {
    width: 20%; 
}

/* Nav */
nav {
    width: 60%;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu li {
    padding: 0 9px;
}



/* Login */
.login {
    width: 20%;
    text-align: right;
}

.header-bottom {
    display:flex;
    background-image: url(../img/jumbo.png);
    background-size:cover ;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 70px 50px 35px;
}

/* BUTTONS */
.btn-small {
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-large {
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    padding: 12px 18px;
    border-radius: 20px;
    cursor: pointer; 
    font-size: 18px;
}

.btn-large i {
    padding-right: 5px;
}

.header-bottom button {
    margin-right: 15px;
}

.subsection button {
    background-color:#7289da ;
    color:white;
}

.black-bg {
    background-color: black;
}

.jumbotron {
    width: 50%;
    margin:auto;
    font-size: 20PX;
    padding: 0 30px;
    height: 450px;
}

.jumbotron div {
    padding-bottom: 15px;
}

/* PAGE CENTRAL CONTENT */
.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;  
}

.col-large {
    width: 40%;
    /* TEST */
    /* background-color:#1d91ff ;
    border: 1px dotted black;
    height: 600px; */
}

.col-tight {
    width: 30%;
    /* TEST */
    /* background-color: #FEC1CB;
    border: 1px dotted black;
    height: 600px; */
}

.col-whole {
    width: 70%;
    /* TEST */
    /* background-color:#238b21 ;
    border: 1px dotted black;
    height: 2000px;   */
}

.subsection {
    text-align: center;
/*     
    
        */
}

.bg-container {
    background-image: url(../img/stars.svg);
    background-size:97%;
    background-repeat: no-repeat;

}

.col-whole h2 {
    padding: 25px 33px 35px;
}

.col-whole div {
    padding:0px 33px;
    font-size: 18px;
}


/* FOOTER */
.col-coral {
    /* background-color:#f08080 ;
    border: 1px dotted black; */
    width: 25%;
    /* TEST */
    height: 400px; 
    
}
.col-coral img {
    width: 7%;
}

.col-container-green {
    display: flex;
    width: 45%;
    /* background-color:#21b2a9; */
}
.col-green {
    width: 25%;
    /* border: 1px dotted white; */
    /* TEST */
    /* height: 1400px;  */
}

footer {
    background-color: black;
}

footer h2 {
    font-size: 35px;
    padding-left: 0px;
    padding-right: 0px;
    color: #7289da;
}

.footer-top-container {
    border-bottom: 3px solid #7289da;
}

footer i {
    padding: 5px;
}

.footer-menu {
    padding: 30px 15px;
    font-size: 14px;
    line-height: 200%;
    color: white;
}

.footer-bottom-container {
    width: 70%;
    margin: auto;
    /* background-color:#7fffd4 ; */
    display: flex;
    justify-content: space-between;
}

.footer-logo,
.footer-button {
    /* border: 1px dotted white; */
    padding: 10px;
    /* background-color:#f08080 ; */
    /* margin: 15px 0; */
}

.footer-button button {
    background-color:#7289da ;
}

.border-container {
    border: 5px solid red;
}